<div class="create-account-container">
    <div class="container">
        <div class="left-section">
            <h1 class="text">Take Control of <span>Your Money</span></h1>
            <p>Personal budgeting is the secret to financial freedom. Start your journey today.</p>
            <input type="text" placeholder="Enter account name">
            <button class="btn">
                Create Account
            </button>
        </div>
        <div class="right-section">
            <img src="/assets/budgeting_set_2.jpg" alt="Image didn't load">
        </div>
    </div>
</div>